#This config file is used to mapping ISO directories to ISO Category type
#The iso directory to media category mapping is seperated by '::'
#eg: <iso_dir>::<media_category>
#The Media category is associated with an artifact at build/publish time using the <media.category> project pom property
#use '#' for comments on this file

##### Start  ENM ISO Directory to Media Category Mappings ###
/repos/ENM/common/::common
/repos/ENM/services/::service
/repos/ENM/db/::db
/repos/ENM/models/::model
/repos/ENM/ms/::ms
/images/ENM/::image
/litp/plugins/ENM/::plugin
##### End  ENM ISO Directory to Media Category Mappings ###
