# Make image openstack ready
sed -i '/^HWADDR/d' /etc/sysconfig/network-scripts/ifcfg-eth0
echo -n > /etc/udev/rules.d/70-persistent-net.rules
echo -n > /lib/udev/rules.d/75-persistent-net-generator.rules

# Remove cloud-init instances and root so it can be used on next customization
rm -rf /var/lib/cloud/instance
rm -rf /var/lib/cloud/instances
sed -i -e 's/^root:[^:]*/root:!!/' /etc/shadow

groupadd enm
groupadd jboss
useradd -genm -d /home/enmadm -p '$1$P/89dBIC$C5sof8/TOl1aDpVYJEk5P.' enmadm
useradd -gjboss -d /home/jboss_user -p '$1$orpw3jTX$jUni1VmzwdNBT.MWQqXvI.' jboss_user
