#### Config File used at ISO Build time to Identify where with the ISO the Artifact should lie based on its Media Category ####
#### Structure Key::Value pair ####
#### eg: <artifact>::<mediaCategory> ####
#### '#' === comment, whitespace ignored ####

#### Start 'service' Artifacts #####
ERICtestpkg6_CXP0000007::service
ERICtorinst_CXP9023304::service
ERICsck_APR9010270::service
ERICtestpkg1_CXP0000002::service
ERICtestpkg4_CXP0000005::service
#### End 'service' Artifacts #####

#### Start 'image' Artifacts #####
ERICtestimage_CXP0000008::image
#### End 'image' Artifacts #####

#### Start 'db' Artifacts #####
ERICtestpkg3_CXP0000004::db
#### End 'db' Artifacts #####

#### Start 'plugin' Artifacts #####
ERICtestpkg2_CXP0000003::plugin
ERICtestpkg5_CXP0000006::plugin
#### End 'plugin' Artifacts #####